<app-headerpublico></app-headerpublico>
<section class="home" id="home">
  <div class="content">
  </div>
</section>

<div class="title-cards" data-aos="fade-up">
  <h2>Nuestros servicios</h2>
</div>
<div class="container-card">

<div class="card" data-aos="fade-right">
<figure>
  <img [src]="extraccion" >
</figure>
<div class="contenido-card" >
  <h3>Extracciones dentales</h3>
  <h4>$350</h4>
  <a class="btn" routerLink="/" routerLinkActive="active-link">Agendar</a>
</div>
</div>

<div class="card" data-aos="fade-down">
<figure>
  <img [src]="limpieza">
</figure>
<div class="contenido-card">
  <h3>Limpieza dental</h3>
  <h4>$250</h4>
  <a class="btn" routerLink="/" routerLinkActive="active-link">Agendar</a>
</div>
</div>

<div class="card" data-aos="fade-left">
<figure>
  <img [src]="servicio3">
</figure>
<div class="contenido-card">
  <h3>Blanqueamiento dental</h3>
  <h4>$600</h4>
  <a class="btn" routerLink="/" routerLinkActive="active-link">Agendar</a>
</div>
</div>

</div>





   <!--SERVICIOS-->
  <!--   Tarjetas-->
  <div class="title-cards">
   
  </div>
  <div class="container-card">
  
  <div class="card" data-aos="fade-right">
  <figure>
    <img [src]="implante">
  </figure>
  <div class="contenido-card">
    <h3>Implantes dentales</h3>
    <h4>$1000</h4>
    <a class="btn" routerLink="/" routerLinkActive="active-link">Agendar</a>
  </div>
  </div>
  
  <div class="card" data-aos="fade-down">
  <figure>
    <img [src]="brackets">
  </figure>
  <div class="contenido-card" >
    <h3>Ortodoncia</h3>
    <h4>$3,000 - $7,000.</h4>
    <a class="btn" routerLink="/" routerLinkActive="active-link">Agendar</a>
  </div>
  </div>
  
  <div class="card" data-aos="fade-left">
  <figure>
    <img [src]="valoracion">
  </figure>
  <div class="contenido-card" >
    <h3>Valoración bucal</h3>
    <h4>$50 - $150</h4>
    <a class="btn" routerLink="/" routerLinkActive="active-link">Agendar</a>
  </div>
  </div>
  
  </div>

  <app-ubicacionpublico></app-ubicacionpublico>
