    <style>
    header {
        background-color: #031d40; /* Fondo azul */
    }
    /* Cambiar el color del texto dentro de los elementos <a> dentro de los elementos <li> */
    .menu li a {
        color: white;
    }
</style>
<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img src="../assets/logoblanco.jpg" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9">
                <div class="menu_icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu text-end">
                    <ul class="nav justify-content-end">
                        <!-- Si el usuario está autenticado, muestra estos enlaces -->
                        <ng-container *ngIf="isLoggedIn">
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="/user/inicio" routerLinkActive="active-link">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/user/productos" routerLinkActive="active-link">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/user/perfil" routerLinkActive="active-link">Mi perfil</a>
                            </li>
                            <li class="nav-item">
                                <button (click)="cerrarSesion()" class="btn btn-outline-light">Cerrar sesión</button>
                            </li>
                        </ng-container>
                        <!-- Si el usuario no está autenticado, muestra estos enlaces -->
                        <ng-container *ngIf="!isLoggedIn">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/user/productos" routerLinkActive="active-link">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/user/registro" routerLinkActive="active-link">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" routerLinkActive="active-link">Login</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
