<!DOCTYPE html>
¿<app-header></app-header>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="login.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Inicio de Sesión
          </div>
          <div class="card-body">
            <form (submit)="auth()" [formGroup]="myForm" style="display: flex; flex-direction: column;">

              <!-- Correo Electrónico -->
              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" formControlName="email" id="campoEmail" class="form-control" required (focus)="moveLabelUp()" (blur)="moveLabelDown()" (keyup)="handleKeyUp()">
                <div class="invalid-feedback" *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
                  El campo es obligatorio.
                </div>
                <div class="invalid-feedback" *ngIf="myForm.get('email')?.hasError('pattern') && myForm.get('email')?.touched">
                  Por favor, ingrese un correo electrónico válido.
                </div>
              </div>

              <!-- Mensajes de error -->

              <!-- Contraseña -->
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                  <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" class="form-control" id="password" required (focus)="moveLabelUp()" (blur)="moveLabelDown()">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="togglePasswordVisibility()">
                    <i class="fas" [ngClass]="{'fa-eye': !passwordVisible, 'fa-eye-slash': passwordVisible}"></i>
                  </button>
                </div>
                <div class="invalid-feedback" *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched">
                  El campo es obligatorio.
                </div>
                <div class="invalid-feedback" *ngIf="myForm.get('password')?.hasError('pattern') && myForm.get('password')?.touched">
                  La contraseña debe contener al menos 8 caracteres, incluyendo mayúsculas, minúsculas, números y 2 caracteres especiales.
                </div>
              </div>

              <!-- Mensajes de error -->

              <!-- Captcha -->
              <ngx-recaptcha2 (success)="activarBtnCapcha($event)" class="captcha" #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>

              <!-- Recuperar contraseña -->
              <div class="mb-3">
                <p class="form-text">¿Olvidaste tu contraseña? <a href="#" routerLink="/user/recuperar-password" routerLinkActive="active-link" (mouseenter)="aplicarInterlineado()">Recuperar</a></p>
              </div>

              <!-- Botón de Iniciar Sesión -->
              <div class="mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid || validRecatcha">Iniciar sesión</button>
              </div>

              
              <!-- ¿No tienes una cuenta? -->
              <p>¿No tienes una cuenta?</p>
              <a [routerLink]="['/user/registro']" >Registrarse</a>
            

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Font Awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
<script>
  function cambiarColor() {
    document.getElementById("register").style.backgroundColor = "yellow"; // Cambia el color de fondo a amarillo
    document.getElementById("register").style.color = "red"; // Cambia el color del texto a rojo
  }
</script>
<br>
<app-footer></app-footer>
