
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Agrega estilos personalizados para el cuadro de entrada y el ícono */
.custom-input-group {
  border: 1px solid #ccc;
  /* Agrega un borde a todo el grupo de entrada */
  border-radius: 4px;
  /* Añade esquinas redondeadas */
  overflow: hidden;
  /* Oculta cualquier cosa que sobresalga */
}

.custom-icon-bg {
  background-color: transparent !important;
  /* Fondo transparente */
  border: 1px solid #ccc !important;
  /* Borde del mismo color que el fondo */
  border-left: none !important;
  /* Elimina el borde izquierdo */
}

.custom-icon-bg i {
  color: inherit;
  /* Hereda el color del texto del contenedor */
}


/* Estilos responsivos */
@media screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}

/* Ajustes para hacerlo responsive */
@media (max-width: 768px) {
  .form-group {
    flex: 100%;
    /* Cambia a una sola columna */
  }
}

.animated-label {
  position: absolute;
  top: 14px;
  left: 12px;
  transition: all 0.2s ease-out;
  font-size: 14px;
  color: #ffffff;
  pointer-events: none;
  background-color: #fff;
  padding: 0 5px;
}



/* Ajuste para el ancho de los campos en dispositivos móviles */
@media (max-width: 768px) {
  .form-group {
    width: 100%;
  }
}












/* Agrega esta sección para estilos del mensaje de cuenta creada */
.message-container {
  display: none;
  color: green;
  font-size: 18px;
  margin-top: 10px;
}
